---
layout: content
page-class: getting-started
title: Chartist - Getting started
description: Learn how to use Chartist.js
---

<div class="ct-chart"></div>

<script>
  window.addEventListener('load', function() {
    Chartist.Line('.ct-chart',
        {
          labels: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'],
          series: [
            {
              data: [5, 2, 4, 2, 0]
            },
            {
              data: [3, 4, 3, 1, 4]
            }
          ]
        },
        {
          width: 300,
          height: 200
        }
    );
  });
</script>