---
layout: content
page-class: getting-started
title: Chartist - Getting started
description: Learn how to use Chartist.js
---

<div class="ct-chart"></div>

<script>
  window.addEventListener('load', function() {
    Chartist.Bar('.ct-chart',
        {
          labels: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'],
          series: [
            {
              data: [5.12321, 3.6234, 4.234, 3.867, 2.74623]
            },
            {
              data: [3.4332, 4.125423, 3.35, 2.534, 44.325]
            }
          ]
        },
        {
          width: 300,
          height: 200
        }
    );
  });
</script>