@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@mixin animation($name, $params) {
  -webkit-animation: #{$name} $params; /* Safari 4+ */
  -moz-animation: #{$name} $params; /* Fx 5+ */
  -o-animation: #{$name} $params; /* Opera 12+ */
  animation: #{$name} $params; /* IE 10+ */
}