<aside class="side-navigation">
  <nav>
    <ul class="side-nav">
      <li class="heading">Getting started</li>
      <li><a href="#">The Chartists way</a></li>
      <li><a href="#">Dependencies</a></li>
      <li class="heading">Download and set-up</li>
      <li><a href="#">One, two, three, CSS!</a></li>
      <li><a href="#">The SASS way</a></li>
      <li><a href="#">Bower</a></li>
      <li class="heading">Create your first chart</li>
      <li><a href="#">Choose a container</a></li>
      <li><a href="#">Where is the data?</a></li>
      <li><a href="#">Pimp my chart!</a></li>
      <li><a href="#">Responsive sugar topping</a></li>
    </ul>
  </nav>
</aside>