<aside class="side-navigation">
  <nav>
    <ul class="side-nav">
      <li class="heading"></li>
      <li><a href="#">Link 1</a></li>
      <li><a href="#">Link 2</a></li>
      <li><a href="#">Link 3</a></li>
      <li><a href="#">Link 4</a></li>
    </ul>
  </nav>
</aside>