@import "settings/chartist-web";
@import "settings/foundation";
@import "foundation/scss/normalize";
@import "foundation/scss/foundation";
@import "compass/css3";
@import "modules";

//TODO: Create library mixins and separate from page styles to provide as library

@mixin responsive-svg-container($width: 100%, $ratio: 1/1) {
  display: block;
  position: relative;
  width: $width;
  padding-bottom: 100% * $ratio;
  overflow: hidden;

  svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
}

body {
  line-height: 1.54;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  text-transform: uppercase;
  color: $color-gray;
  line-height: 1;
}

$heading-scale: generateScale(16, $scale-perfect-fourth);

h1 {
  font-size: rem-calc(nth($heading-scale, 6));

  @media #{$medium-up} {
    font-size: rem-calc(nth($heading-scale, 8));
  }
}

h2 {
  font-size: rem-calc(nth($heading-scale, 5));

  @media #{$medium-up} {
    font-size: rem-calc(nth($heading-scale, 7));
  }
}

h2 {
  font-size: rem-calc(nth($heading-scale, 5));

  @media #{$medium-up} {
    font-size: rem-calc(nth($heading-scale, 6));
  }
}

ul {
  list-style: disc outside none;
  padding-left: 1em;
}

.landing-page-header {
  background-color: $color-yellow;
  @include background(linear-gradient(top, $color-yellow 0%, lighten($color-yellow, 5%) 70%, $color-yellow 100%));
  text-align: center;

  > .introduction-title {
    text-transform: uppercase;
    font-size: rem-calc(nth($heading-scale, 8));
    margin: 0;
    display: inline-block;
    width: 100%;
    font-weight: 700;
    color: white;
    line-height: 0.5;
    margin-top: 2rem;
    @include text-shadow(1px 1px rgba(0, 0, 0, 0.2));

    @media #{$medium-up} {
      font-size: rem-calc(nth($heading-scale, 9));
    }

    > small {
      font-size: rem-calc(nth($heading-scale, 4));
      display: inline-block;
      width: 100%;
    }
  }

  > .limiter {
    max-width: 480px;
    margin: 0 auto;

    > figure {
      @include responsive-svg-container();
    }
  }
}

.main {
  @include grid-row();
  padding-left: $column-gutter / 2;
  padding-right: $column-gutter / 2;

  @media #{$medium-up} {
    @include grid-row();
  }

  .documentation-section {
    @include grid-row(nest);

    > header {
      @include grid-column(12);
    }

    > .content {
      @include grid-column(12);

      @media #{$medium-up} {
        @include grid-column(9);
      }

      > .chart-container {
        width: 100%;
        height: 0;
        padding-bottom: 67%;
        background-color: $color-black;
      }
    }

    > .side-notes {
      @include grid-column(12);

      @media #{$medium-up} {
        @include grid-column(3);
      }
    }
  }

}

@include keyframes(dashoffset) {
  0% {
    stroke-dashoffset: 0px;
  }

  100% {
    stroke-dashoffset: -20px;
  }
}

@include keyframes(bouncing-stroke) {
  0% {
    stroke-width: 5px;
  }

  50% {
    stroke-width: 10px;
  }

  100% {
    stroke-width: 5px;
  }
}

@include keyframes(exploding-stroke) {
  0% {
    stroke-width: 2px;
    opacity: 1;
  }

  100% {
    stroke-width: 20px;
    opacity: 0;
  }
}

#chartist-guy #chart-canvas {
  .ct-label {
    fill: darken($color-white, 50%);
    font-size: 13px;
  }


}

#example-chart-one {
  .ct-label {
    fill: $color-white;
    font-size: 13px;
  }

  .ct-grid {
    stroke: lighten($color-black, 5%);
    stroke-dasharray: 3px;
    stroke-width: 1px;
  }

  .ct-series {
    &.ct-series-a {
      .ct-point {
        stroke: $color-grapefruit;
        stroke-width: 10px;
        stroke-linecap: square;
      }

      .ct-line {
        fill: none;
        stroke-dasharray: 5px;
        stroke-dashoffset: 0px;
        stroke: $color-grapefruit;
        stroke-width: 4px;

        @include animation(dashoffset, 1s linear infinite);
      }
    }

    &.ct-series-b {
      .ct-point {
        stroke: $color-red;
        stroke-width: 10px;
        stroke-linecap: round;

        @include animation(bouncing-stroke, 0.5s ease infinite);
      }

      .ct-line {
        fill: none;
        stroke: $color-red;
        stroke-width: 3px;
      }
    }

    &.ct-series-c {
      .ct-point {
        stroke: $color-yellow;
        stroke-width: 10px;
        stroke-linecap: round;
        @include animation(exploding-stroke, 1s ease-out infinite);
      }

      .ct-line {
        fill: none;
        stroke: $color-yellow;
        stroke-dasharray: 40px 3px;
        stroke-width: 2px;
      }
    }
  }
}



@import url("http://fonts.googleapis.com/css?family=Varela+Round|Oxygen:400,300,700");