@import url("http://fonts.googleapis.com/css?family=Oxygen:400,300,700");
@import url("http://fonts.googleapis.com/css?family=Source+Code+Pro:400,700");

@import "settings/chartist-web";
@import "settings/foundation";
@import "settings/font-awesome-variables";

@import "compass-mixins/lib/compass/css3";
@import "foundation/scss/normalize";
@import "foundation/scss/foundation";
@import "modules";
@import "base";

@import "chartist/settings";
@import "chartist/chartist";

@import "highlight";
@import "landing";

@include embed-font('FontAwesome', 'fontawesome-webfont');

.button {
  text-transform: uppercase;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
}

.invisible {
  display: block !important;
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
}

.hint {
  position: relative;
  margin-top: rem-calc(nth($modular-scale, 5));
  margin-bottom: rem-calc(nth($modular-scale, 5));
  padding: rem-calc(nth($modular-scale, 5));
  background: $color-gray;
  color: white;

  > .title {
    font-size: rem-calc(nth($modular-scale, 4));
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: lighten($color-black, 20%);
  }

  a {
    color: $color-yellow;
    &:hover {
      color: lighten($color-yellow, 10%);
    }
  }

  &[class*="hint-"] {
    padding-left: 5rem;

    &.hint-cross-browser {
      @include icon($fa-var-arrows-alt, 3rem);
    }

    &:before {
      position: absolute;
      left: rem-calc(nth($modular-scale, 5));
      top: rem-calc(nth($modular-scale, 5));
      font-size: 3rem;
      color: lighten($color-black, 10%);
    }
  }
}

pre > code {
  font-family: "Source Code Pro", "Courier New", monospace !important;
}

.sticky.contain-to-grid {
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.3);

  &.fixed, .page-content & {
    .top-bar .name h1 a:before {
      content: "";
      display: inline-block;
      width: 34px;
      height: 34px;
      margin-top: -4px;
      margin-right: 10px;
      vertical-align: middle;
      border-radius: 50%;
      border: 2px solid #F4C63D;
      background: #F4C63D url("/images/chartist-icon.png") no-repeat;
      background-size: 32px 32px;
      background-position: center;
    }
  }
}

.main {
  @include grid-row();

  @media #{$medium-up} {
    margin-top: rem-calc(nth($modular-scale, 8));
  }

  > header {
    @include grid-column(12);

    .page-content & {
      margin-bottom: 5rem;
    }
  }

  > .side-navigation {
    @include grid-column(12);

    @media #{$medium-up} {
      @include grid-column(3);
    }

    > nav > .side-nav {
      background-color: mix(black, $color-white, 5%);
      box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);

      > .heading {
        font-size: rem-calc(nth($modular-scale, 4));
        text-transform: uppercase;
        font-weight: 600;
        margin-top: rem-calc(nth($modular-scale, 7));
        margin-bottom: rem-calc(nth($modular-scale, 4));
        color: $color-black;

        &:first-child {
          margin-top: 0;
        }
      }

      > li:not(.heading) > a:before {
        content: "\2013\20";
      }
    }
  }

  > .content {
    @include grid-column(12);

    @media #{$medium-up} {
      @include grid-column(9);
    }

    > .documentation-section {
      @include grid-row(nest);

      margin-top: rem-calc(nth($modular-scale, 4));
      margin-bottom: rem-calc(nth($modular-scale, 6));

      @media #{$medium-up} {
        margin-top: rem-calc(nth($modular-scale, 6));
        margin-bottom: rem-calc(nth($modular-scale, 8));
      }

      > header {
        @include grid-column(12);
      }

      > .content {
        @include grid-column(12);

        @media #{$medium-up} {
          @include grid-column(9);
        }

        > .ct-chart {
          &.dark {
            background-color: $color-gray;
          }
        }
      }

      > .side-notes {
        @include grid-column(12);

        @media #{$medium-up} {
          @include grid-column(3);
        }
      }

      &.full {
        > .content {
          @media #{$medium-up} {
            @include grid-column(12);
          }
        }

        > .side-notes {
          @media #{$medium-up} {
            @include grid-column(12);
          }
        }
      }
    }
  }

  .full & {
    > .side-navigation {
      @include grid-column(12);
    }

    > .content {
      @include grid-column(12);
    }
  }
}

@include keyframes(dashoffset) {
  0% {
    stroke-dashoffset: 0px;
  }

  100% {
    stroke-dashoffset: -20px;
  }
}

@include keyframes(bouncing-stroke) {
  0% {
    stroke-width: 5px;
  }

  50% {
    stroke-width: 10px;
  }

  100% {
    stroke-width: 5px;
  }
}

@include keyframes(exploding-stroke) {
  0% {
    stroke-width: 2px;
    opacity: 1;
  }

  100% {
    stroke-width: 20px;
    opacity: 0;
  }
}

#chartist-guy #chart-canvas {
  .ct-label {
    fill: darken($color-white, 50%);
    font-size: 13px;
  }

  .ct-grid {
    stroke: darken($color-white, 20%);
    stroke-dasharray: 2px;
    stroke-width: 1px;
  }

  .ct-series {
    &.ct-series-b {
      .ct-point {
        stroke: $color-red;
        stroke-width: 10px;
        stroke-linecap: round;
      }

      .ct-line {
        fill: none;
        stroke-dasharray: 5px;
        stroke: $color-red;
        stroke-width: 4px;

        @include animation(dashoffset, 1s linear infinite);
      }
    }

    &.ct-series-a {
      .ct-point {
        stroke: $color-grapefruit;
        stroke-width: 8px;
        stroke-linecap: square;
      }

      .ct-line {
        fill: none;
        stroke-dasharray: 10px 3px;
        stroke: $color-grapefruit;
        stroke-width: 2px;
      }
    }
  }
}

#example-line-months-interpolation {
  .ct-label {
    fill: lighten($color-gray, 30%);
    font-size: 13px;
  }

  .ct-grid {
    stroke: lighten($color-gray, 5%);
    stroke-dasharray: 3px;
    stroke-width: 1px;
  }

  .ct-series {
    &.ct-series-a {
      .ct-point {
        stroke: $color-grapefruit;
        stroke-width: 10px;
        stroke-linecap: square;
      }

      .ct-line {
        fill: none;
        stroke-dasharray: 5px;
        stroke: $color-grapefruit;
        stroke-width: 4px;
        @include animation(dashoffset, 1s linear infinite);
      }
    }

    &.ct-series-b {
      .ct-point {
        stroke: $color-red;
        stroke-width: 10px;
        stroke-linecap: round;
        @include animation(bouncing-stroke, 0.5s ease infinite);
      }

      .ct-line {
        fill: none;
        stroke: $color-red;
        stroke-width: 3px;
      }
    }

    &.ct-series-c {
      .ct-point {
        stroke: $color-yellow;
        stroke-width: 10px;
        stroke-linecap: round;
        @include animation(exploding-stroke, 1s ease-out infinite);
      }

      .ct-line {
        fill: none;
        stroke: $color-yellow;
        stroke-dasharray: 40px 3px;
        stroke-width: 2px;
      }
    }
  }
}