@import url("http://fonts.googleapis.com/css?family=Oxygen:400,300,700");
@import url("http://fonts.googleapis.com/css?family=Source+Code+Pro");

@import "settings/chartist-web";
@import "settings/foundation";
@import "compass-mixins/lib/compass/css3";
@import "foundation/scss/normalize";
@import "foundation/scss/foundation";
@import "modules";
@import "base";
@import "font-awesome/scss/font-awesome";

.fa-icon:before {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button {
  text-transform: uppercase;
}

.invisible {
  display: block !important;
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
}

.browser-hint {
  margin-bottom: rem-calc(nth($modular-scale, 4));
  padding: rem-calc(nth($modular-scale, 4));
  background: $color-gray;
  color: white;

  a {
    color: $color-yellow;
    &:hover {
      color: lighten($color-yellow, 10%);
    }
  }
}

pre > code {
  font-family: "Source Code Pro", "Courier New", monospace !important;
}

.sticky.contain-to-grid {
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.3);
}

.landing-page-header {
  background-color: $color-yellow;
  text-align: center;

  > .introduction-title {
    text-transform: uppercase;
    font-size: rem-calc(nth($modular-scale, 8));
    margin: 0;
    display: inline-block;
    width: 100%;
    font-weight: 700;
    color: white;
    line-height: 0.5;
    margin-top: 2rem;

    @include text-shadow(1px 1px mix(black, $color-yellow, 15%), 2px 2px mix(black, $color-yellow, 15%), 3px 3px mix(black, $color-yellow, 15%));

    @media #{$medium-up} {
      font-size: rem-calc(nth($modular-scale, 10));
    }

    > small {
      font-size: rem-calc(nth($modular-scale, 4));
      display: inline-block;
      width: 100%;
      @include text-shadow(1px 1px mix(black, $color-yellow, 15%), 2px 2px mix(black, $color-yellow, 15%));
    }
  }

  > .limiter {
    max-width: 480px;
    margin: 0 auto;

    > figure {
      @include responsive-svg-container();
    }
  }

  > .call-to-action {
    text-align: center;
    padding-bottom: $column-gutter;
    padding-left: $column-gutter / 2;
    padding-right: $column-gutter / 2;

    > .button {
      color: white;
      color: rgba(255, 255, 255, 0.9);
      font-weight: 300 !important;

      &:before {
        padding-right: 0.5em;
      }

      &.download {
        background-color: $color-red;
        &:hover,
        &:focus { background-color: shade($color-red, 10%); color: rgba(255, 255, 255, 1);}
      }

      &.contribute {
        background-color: $color-grapefruit;
        &:hover,
        &:focus { background-color: shade($color-grapefruit, 10%); color: rgba(255, 255, 255, 1);}
      }

      @media #{$small-only} {
        width: 100%;
        font-size: 1em;
        font-weight: 700 !important;
      }

      @media #{$medium-up} {
        &.download {
          margin-right: $column-gutter / 2;
        }
      }
    }
  }
}

.main {
  @include grid-row();
  padding-left: $column-gutter / 2;
  padding-right: $column-gutter / 2;

  @media #{$medium-up} {
    @include grid-row();
    margin-top: rem-calc(nth($modular-scale, 8));
  }

  .documentation-section {
    @include grid-row(nest);
    margin-top: rem-calc(nth($modular-scale, 4));
    margin-bottom: rem-calc(nth($modular-scale, 6));

    @media #{$medium-up} {
      margin-top: rem-calc(nth($modular-scale, 6));
      margin-bottom: rem-calc(nth($modular-scale, 8));
    }

    > header {
      @include grid-column(12);
    }

    > .content {
      @include grid-column(12);

      @media #{$medium-up} {
        @include grid-column(9);
      }

      > .ct-chart {
        &.dark {
          background-color: $color-dark-green;
        }
      }
    }

    > .side-notes {
      @include grid-column(12);

      @media #{$medium-up} {
        @include grid-column(3);
      }
    }
  }

}

@include keyframes(dashoffset) {
  0% {
    stroke-dashoffset: 0px;
  }

  100% {
    stroke-dashoffset: -20px;
  }
}

@include keyframes(bouncing-stroke) {
  0% {
    stroke-width: 5px;
  }

  50% {
    stroke-width: 10px;
  }

  100% {
    stroke-width: 5px;
  }
}

@include keyframes(exploding-stroke) {
  0% {
    stroke-width: 2px;
    opacity: 1;
  }

  100% {
    stroke-width: 20px;
    opacity: 0;
  }
}

#chartist-guy #chart-canvas {
  .ct-label {
    fill: darken($color-white, 50%);
    font-size: 13px;
  }

  .ct-grid {
    stroke: darken($color-white, 20%);
    stroke-dasharray: 2px;
    stroke-width: 1px;
  }

  .ct-series {
    &.ct-series-b {
      .ct-point {
        stroke: $color-red;
        stroke-width: 10px;
        stroke-linecap: round;
      }

      .ct-line {
        fill: none;
        stroke-dasharray: 5px;
        stroke: $color-red;
        stroke-width: 4px;

        @include animation(dashoffset, 1s linear infinite);
      }
    }

    &.ct-series-a {
      .ct-point {
        stroke: $color-grapefruit;
        stroke-width: 8px;
        stroke-linecap: square;
      }

      .ct-line {
        fill: none;
        stroke-dasharray: 10px 3px;
        stroke: $color-grapefruit;
        stroke-width: 2px;
      }
    }
  }
}

#example-line-months-interpolation {
  .ct-label {
    fill: lighten($color-dark-green, 30%);
    font-size: 13px;
  }

  .ct-grid {
    stroke: lighten($color-dark-green, 5%);
    stroke-dasharray: 3px;
    stroke-width: 1px;
  }

  .ct-series {
    &.ct-series-a {
      .ct-point {
        stroke: $color-grapefruit;
        stroke-width: 10px;
        stroke-linecap: square;
      }

      .ct-line {
        fill: none;
        stroke-dasharray: 5px;
        stroke: $color-grapefruit;
        stroke-width: 4px;
        @include animation(dashoffset, 1s linear infinite);
      }
    }

    &.ct-series-b {
      .ct-point {
        stroke: $color-red;
        stroke-width: 10px;
        stroke-linecap: round;
        @include animation(bouncing-stroke, 0.5s ease infinite);
      }

      .ct-line {
        fill: none;
        stroke: $color-red;
        stroke-width: 3px;
      }
    }

    &.ct-series-c {
      .ct-point {
        stroke: $color-yellow;
        stroke-width: 10px;
        stroke-linecap: round;
        @include animation(exploding-stroke, 1s ease-out infinite);
      }

      .ct-line {
        fill: none;
        stroke: $color-yellow;
        stroke-dasharray: 40px 3px;
        stroke-width: 2px;
      }
    }
  }
}