<section class="documentation-section{{#unless side-notes}} full{{/unless}}">
  <header>
    {{>heading}}
  </header>
  <div class="content">
    {{#each items}}
      {{partial type data}}
    {{/each}}
  </div>

  {{#if side-notes}}
    <aside class="side-notes">
      {{#each side-notes}}
        {{partial type data}}
      {{/each}}
    </aside>
  {{/if}}
</section>