$font-path: "/fonts" !default;

@mixin embed-font($font-name, $font-file, $font-path: $font-path) {
  @font-face {
    font-family: $font-name;
    src: url('#{$font-path}/#{$font-file}.eot');
    src: url('#{$font-path}/#{$font-file}.eot?#iefix') format('embedded-opentype'),
    url('#{$font-path}/#{$font-file}.woff') format('woff'),
    url('#{$font-path}/#{$font-file}.ttf') format('truetype'),
    url('#{$font-path}/#{$font-file}.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  }
}