---
layout: content
page-class: getting-started
title: Chartist - Getting started
description: Learn how to use Chartist.js
---
<section class="documentation-section full">
  <header>
    <h3 id="sectionOne">Flexible & Responsive SVG charting library</h3>
  </header>
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent fermentum tempus nisl, in egestas odio commodo non. Nunc vitae scelerisque nisl. Mauris et dictum odio. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla ut lectus eget mi laoreet malesuada eu lacinia erat. Aliquam erat volutpat. Pellentesque odio felis, sollicitudin ut lorem in, vulputate iaculis quam. Sed faucibus arcu a risus fermentum tincidunt. Nam faucibus tortor a lectus laoreet, non tempor diam sodales. Proin vitae eros vitae elit porta luctus non nec ligula. Vestibulum sit amet eros aliquam, ultricies nisl eu, iaculis purus. Vestibulum malesuada dui non lectus elementum congue. Nulla ornare velit at nibh tempor, vitae fringilla felis laoreet. Cras tristique dolor et dictum sagittis.</p>
  </div>
</section>