---
layout: default
title: Chartist - Simple responsive charts
description: Create responsive, scalable and good looking charts with chartist.js.
---
<header>
  <h1>Chartist - Simple responsive charts</h1>
</header>

<p>You may think that this is just yet an other charting library. But Chartist.js is the product of
a community that was disappointed about the abilities provided by other charting libraries. Of course there are hundreds
of other great charting libraries but after using them there were always tweaks you would have wished for that were not
  included.</p>
<h2>Facts about Chartist</h2>
<p>The following facts should give you an overview why to choose Chartists as your front-end chart generator:</p>
<ul>
  <li>Simple handling while using convention over configuration</li>
  <li>Great flexibility while using clear separation of concerns (Style with CSS & control with JS)</li>
  <li>Usage of SVG (Yes! SVG is the future of illustration in web!)</li>
  <li>Fully responsive and DPI independent</li>
  <li>Responsive configuration with media queries</li>
  <li>Fully built and customizable with SASS</li>
</ul>

<section class="documentation-section">
  <header>
    <h2>Chart CSS animation example</h2>
  </header>
  <div class="content">
    <div class="chart-container">
      <svg id="chart"></svg>
    </div>
  </div>
  <aside class="side-notes">
    <p>Specifying the style of your chart in CSS is not only cleaner but also enables you to use awesome CSS animations
      and transitions to be applied to your SVG elements!</p>
  </aside>
</section>