.module-member {
  margin-bottom: 2em;

  .member-title {
    background: #453D3F;
    padding: 0.5em;
    color: lighten($color-white, 10%);
    text-transform: none;
  }

  .param {
    margin-bottom: 0.5em;

    > code {
      font-weight: bold;
    }
  }
}