---
layout: default
---
<section class="page-landing {{page-class}}">
  <header class="landing-page-header">
    <div class="introduction-title">Chartist.js
      <small> Simple responsive charts</small>
    </div>
    <div class="limiter">
      <figure>
        <svg id="chartist-guy" data-svg-src="images/chartist-guy.svg"></svg>
      </figure>
    </div>
    <div class="call-to-action">
      <a class="button large download fa-icon fa-download" href="https://github.com/gionkunz/chartist-js/tree/develop/libdist" target="_blank">Download</a>
      <a class="button large contribute fa-icon fa-github" href="https://github.com/gionkunz/chartist-js" target="_blank">Contribute</a>
    </div>
  </header>

  {{> navigation }}

  <article class="main" role="main">
    {{> body  }}
  </article>
</section>