.affiliate-projects {
  display: flex;
  margin: 0 -10px;
}

.affiliate-project {
  display: block;
  margin: 0 10px;
}

.affiliate-project__title {
  display: block;
  font-size:  20px;
  font-weight: bold;
  margin: 10px 0;
  line-height: 1.1;
}

.affiliate-project__image {
  margin-bottom: 10px;
}

@media screen and (max-width: 640px) {
  .affiliate-projects {
    display: block;
  }

  .affiliate-project {
    margin: 10px;
  }
}
