@import "./settings/chartist-docs";

.rescue-chartist {
  background-color: $color-red;
  color: white;
  padding: 20px;
}

.rescue-title {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.rescue-message {
  font-size: 20px;
}

.rescue-button {
  color: $color-red;
  background-color: white;
  font-weight: 300 !important;
  &:before {
    padding-right: 0.5em;
  }

  &:hover,
  &:focus {   color: $color-red;
    background-color: $color-white;}
}
