<a href="{{link}}" target="_blank" class="affiliate-project">
  <div class="affiliate-project__title">{{title}}</div>
  <img src="{{image.src}}" alt="{{image.alt}}" class="affiliate-project__image">
  <div class="button">Get this Template</div>
</a>
