<aside class="side-navigation">
  <nav>
    <ul class="side-nav">
      {{#each (doxTransform apidox)}}
        {{#each modules}}
          <li class="heading">{{name}}</li>
          {{#each members}}
            <li><a class="text-clipping" href="#{{doxHash this}}">{{ctx.string}}</a></li>
          {{/each}}
        {{/each}}
      {{/each}}
    </ul>
  </nav>
</aside>