<div class="contain-to-grid sticky">
  <nav class="top-bar" data-topbar data-options="sticky_on: large">
    <ul class="title-area">
      <li class="name">
        <h1><a href="index.html">Chartist.js</a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <li><a href="//github.com/gionkunz/chartist-js/tree/master/dist" target="_blank">Download</a></li>
      </ul>

      <ul class="left">
        <li><a href="getting-started.html">Getting started</a></li>
        <li><a href="api-documentation.html">API Documentation</a></li>
        <li><a href="examples.html">Examples</a></li>
        <li><a href="plugins.html">Plugins</a></li>
        <li><a href="//github.com/gionkunz/chartist-js" target="_blank">Contribute</a></li>
      </ul>
    </section>
  </nav>
</div>
