<section class="sub-section">
  <header>
    <h4 id="{{slugify (concat 'module ' name)}}">
      Module {{name}}
    </h4>
    <div class="module-description">
      {{{description}}}
    </div>
    <div class="module-members">
      {{#each members}}
        {{>dox-member}}
      {{/each}}
    </div>
  </header>
</section>