---
layout: default
---
<section class="rescue-chartist">
    <div class="rescue-title">Chartist needs your help! Please, help me save Chartist!</div>
    <p class="rescue-message">Do you like Chartist? Then please help me bring it to the next level and make its maintenance more sustainable in the future.</p>
    <a class="button rescue-button" href="https://www.kickstarter.com/projects/gionkunz/chartist-10-next-generation-charts-for-the-web" target="_blank" data-icon="&#xf019;">Help to save Chartist</a>
</section>
<section class="page-landing {{page-class}}">
  <header class="landing-page-header">
    <div class="introduction-title">Chartist.js
      <small> Simple responsive charts</small>
    </div>
    <div class="limiter">
      <figure>
        <svg id="chartist-guy" data-svg-src="images/chartist-guy.svg"></svg>
      </figure>
    </div>
    <div class="library-statement">
      Only <span class="important">10KB</span> (Gzip) with <span class="important">no dependencies</span>!
    </div>
    <div class="call-to-action">
      <a class="button large download" href="https://github.com/gionkunz/chartist-js/tree/develop/dist" target="_blank" data-icon="&#xf019;">Download</a>
      <a class="button large contribute" href="https://github.com/gionkunz/chartist-js" target="_blank" data-icon="&#xf09b;">Contribute</a>
    </div>
  </header>

  {{> navigation }}

  <article class="main" role="main">
    <header>
      <h2>{{title}}</h2>
    </header>
    <div class="content">
      {{> body  }}
    </div>
  </article>
</section>
