$color-white: #EADBC4;
$color-grapefruit: #F05B4F;
$color-red: #D70206;
$color-green: #67bf26;
$color-yellow: #F4C63D;
$color-gray: #453D3F;
$color-black: $color-gray;

$font-body: "Oxygen", Helvetica, Arial, sans-serif;