name: Update storyshots
on: workflow_dispatch
jobs:
  update-storyshots:
    runs-on: ubuntu-latest
    name: storyshots
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v5
      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 7
      - name: Install Node.js
        uses: actions/setup-node@v5
        with:
          node-version: 16
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install
      - name: Update snapshots
        run: pnpm test:storyshots -u
      - name: Collect artifacts
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: Updated storyshots
          path: test/__image_snapshots__/
